*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 95%);
}
.container{
    display: grid;
    grid-template-columns: repeat(3 , 250px);
    grid-template-rows: 400px;
    margin: 20px auto;
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
.one{
background-color:hsl(31, 77%, 52%) ;
}
.two{
background-color: hsl(184, 100%, 22%);
}
.three{
background-color: hsl(179, 100%, 13%);
}
.one,
.two,
.three{
    padding: 30px;
}
img{
    width: 50px;
}
h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}
p{
   color: hsla(0, 0%, 100%, 0.75); 
   font-size: 15px;
   font-family: 'Lexend Deca', sans-serif;
}
button{
    color: hsl(0, 0%, 95%);
}
.one :last-child {
color: hsl(31, 77%, 52%);
border-radius: 25px;
border: none;
width: 120px;
height: 35px;
transform: translate(0px , 60px);
font-family: 'Lexend Deca', sans-serif;
}
.two :last-child{
    color: hsl(184, 100%, 22%);
    border-radius: 25px;
    border: none;
    width: 120px;
    height: 35px;
    transform: translate(0px , 77px);
    font-family: 'Lexend Deca', sans-serif;
}
.three :last-child{
    color: hsl(179, 100%, 13%);
    border-radius: 25px;
    border: none;
    width: 120px;
    height: 35px;
    transform: translate(0px , 60px);
    font-family: 'Lexend Deca', sans-serif;
}
.one :last-child:hover{
    border: 1px solid white;
    background-color:hsl(31, 77%, 52%);
    color: white;
    cursor: pointer;
}
.two :last-child:hover{
    border: 1px solid white;
    background-color:hsl(184, 100%, 22%);
    color: white;
    cursor: pointer;
}
.three :last-child:hover{
    border: 1px solid white;
    background-color:hsl(179, 100%, 13%);
    color: white;
    cursor: pointer;
}
@media (max-width: 375px){
     .container{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -30%);
         width: 250px;
    }
    .one :last-child,
    .two :last-child,
    .three :last-child{
        transform: translateY(15px);
    }
    .three{
        margin-bottom: 40px;
    }
}